/* bagian organizer  */

#organizer {
  margin-bottom: 100px;
  text-align: center;
}

#organizer h2 {
  font-size: 1.5em;
}

#organizer img {
  display: block;
  width: auto;
  max-width: 80%;
  max-height: 120px;
  margin: 0 auto;
  filter: grayscale(100%);
  transition: .25s all;
}

#organizer img:hover {
  filter: grayscale(0%);
}

/* bagian footer di sini */

footer {
  background: #353a40;
  color: #fff;
  text-align: center;
  line-height: 0;
}

footer .container {
  width: 100%;
  margin: 0;
  padding: 0 30px;
  line-height: 1.618em;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #2196f3;
}

footer .left span {
  margin: 0 15px;
}

footer .right span {
  margin: 0 5px;
}

/* tablet screen view */

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }

  .container {
    width: 750px;
  }

  .mobile-only {
    display: none !important;
  }

  .non-mobile-only {
    display: initial !important;
  }

  header .scroll {
    position: static;
    width: auto;
    background: none;
    border: none;
  }

  header .header-right a {
    display: inline-block;
  }

  .base {
    width: 360px;
  }

  #landing h1 {
    font-size: 3.5em;
  }

  #portfolio .wrap {
    border-radius: 30px;
  }

  #organizer img {
    display: inline-block;
    max-width: initial;
    margin: 0 50px;
  }

  footer .left {
    float: left;
  }

  footer .right {
    float: right;
  }
}

/* desktop screen view */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }

  #landing {
    min-height: 700px;
    padding-top: 180px;
    background: url(blob.png) 50vw center no-repeat, linear-gradient(135deg, #8360c3 0%, #2ebf91 100%);
  }

  #landing .intro {
    max-width: 450px;
    margin: 0 0 0 30px;
    text-align: left;
  }

  #landing .people {
    display: inline-block;
  }

  #portfolio .image,
  #portfolio .caption {
    float: left;
    width: 50%;
  }

  .cta .container {
    padding: 30px 50px;
  }

  .cta p {
    width: auto;
    margin: 0 50px 0 0;
    line-height: 50px;
  }
}

/* large desktop screen view */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  #landing .intro {
    margin: 0 0 0 50px;
  }

  #landing .people {
    margin-right: 80px;
  }

  #portfolio h3 {
    margin-top: 30px;
    font-size: 2.5em;
  }
}
